body{
    font-family: Calibri, serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 870px){
    .content{
        height: auto;
        width: 80%;
    }
    .navbar li{
        display: none;
    }
    .navbar{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .mayu-icon{
        transform: translate(60px);
    }
}

.container{
    background: linear-gradient(75deg, #2aded2, #610088);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid #fff;
    width: 80%;
}

li{
    list-style: none;
}

.mayu-icon{
    background: url(./images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    margin: 5px 10px 5px 20px;
    float: left;
}

.navbar{
    margin: 0 50px 0 50px;
    background: #52652f;
    border-radius: 10px;
    height: 60px;
}

.navbar h2{
    color: #98da61;
    padding: 14px 18px;
    margin-left: 40px;
    letter-spacing: 2px;
}

.navbar a{
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 18px;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
}

.navbar a:hover{
    background: #fff;
    color: #000000;
    border-radius: 10px;
}

.navbar a:active{
    background: #4f8f3a;
    color: #fff;
}

.mayu-images{
    width: 200px;
    border-radius: 20%;
    border: 4px dotted rgba(255, 255, 255, 0.6);
    float: left;
    margin: 0 20px 0 40px;
}

.prolog h3{
    color: #ffffff80;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.prolog h2{
    color: #dbcc93;
    letter-spacing: 0.05px;
}

.study{
    color: #cbddf4;
    margin-right: 20px;
    text-wrap: wrap;
}

.work{
    color: #cbddf4;
    margin-right: 20px;
    margin-top: 50px;
}

.work h3{
    font-size: 20px;
    color: #a6f9b9;
}

.certified{
    font-size: 20px;
    color: #a6f9b9;
    letter-spacing: 1.5px;
}

.contact{
    margin: 15px 0 80px 0;
}

.contact i{
    float: left;
    padding: 12px 18px;
    color: #22ff73;
    border-radius: 10px;
}

.contact #fb:hover{
    color: #fff;
    background: #273ed4;
}

.contact #ig:hover{
    color: #fff;
    background: #aa24fd;
}

.contact #yt:hover{
    color: #fff;
    background: #fa2929;
}

.contact #ldn:hover{
    color: #d6dfff;
    background: #318fe2;
}

.contact #gh:hover{
    color: #000000;
    background: #fff;
}