*{
    box-sizing: border-box;
}

body{
    font-family: Calibri, serif;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 800px){
    .container{
        width: 100%;
    }
    .content{
        width: 100%;
    }
}

.container{
    background: linear-gradient(75deg, #2aded2, #610088);
    width: 100%;
    height: 100vh;
    position: absolute;
}

.content{
    background: rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: 2px solid #fff;
}

li{
    list-style: none;
}

.mayu-icon{
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    margin-left: 10px;
}

.navbar h2{
    color: #98da61;
    padding: 14px 18px;
    margin-left: 40px;
    letter-spacing: 2px;
}

.navbar a{
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 18px;
    margin-right: 10px;
    font-weight: bold;
}

.navbar a:hover{
    background: #fff;
    color: #000000;
    border-radius: 10px;
}

.navbar a:active{
    background: #4f8f3a;
    color: #fff;
}

.mayu-images{
    width: 200px;
    border-radius: 50%;
    border: 4px dotted rgba(255, 255, 255, 0.6);
    float: left;
    margin-left: 10px;
    margin-right: 40px;
}

.prolog h3{
    color: #ffffff80;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.prolog h2{
    color: #dbcc93;
    letter-spacing: 0.05px;
}

.prolog h2::after{
    content: "";
    padding: 1px 150px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
    margin: 35px 0 0 -320px;
}

.study{
    color: #cbddf4;
    margin-right: 20px;
    text-wrap: wrap;
}

.work{
    color: #cbddf4;
    margin-right: 20px;
    margin-top: 50px;
}

.work h3{
    font-size: 20px;
    color: #a6f9b9;
}

.certified{
    font-size: 20px;
    color: #a6f9b9;
    letter-spacing: 1.5px;
}

.contact{
    margin-top: 15px;
}

.contact i{
    float: left;
    padding: 10px 15px;
    color: #22ff73;
    border-radius: 10px;
}

.contact #fb:hover{
    color: #fff;
    background: #273ed4;
}

.contact #ig:hover{
    color: #fff;
    background: #aa24fd;
}

.contact #yt:hover{
    color: #fff;
    background: #fa2929;
}

.contact #ldn:hover{
    color: #d6dfff;
    background: #318fe2;
}

.contact #gh:hover{
    color: #000000;
    background: #fff;
}