body *{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
    background: var(--background);
    size: 120vh;
}

:root {
    --text-color: black;
    --border-bottom: 2px solid rgb(213, 161, 248);
    --h2-color: rgb(80, 3, 80);
}

.darkMode {
    background-color: rgb(31, 20, 39);
    --text-color: white;
    --background: rgb(31, 20, 39);
    --border-bottom: 2px solid rgb(139, 14, 114);
    --h2-color: rgb(255, 195, 255);
}

.gg-layout-list {
    transform: scale(var(--ggs,1));
   }
   
   .gg-layout-list,
   .gg-layout-list::after,
   .gg-layout-list::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 2px;
    border-left: 6px double;
    border-right: 4px solid;
    color: var(--text-color);
   }
   
   .gg-layout-list::after,
   .gg-layout-list::before {
    content: "";
    position: absolute;
    left: -6px;
   }
   
   .gg-layout-list::after {
    bottom: 4px;
   }
   
   .gg-layout-list::before {
    top: 4px;
   } 

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    border-bottom: 2px solid violet;
    background-color: var(--background);
}

#toggler, .drop-menu{
    display: none;
}

@media screen and (max-width: 120vh) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu {
        max-height: 100%;
}
}

.logo {
    width: 70px;
    display: flex;
    border-radius: 50%;
    margin-right: 30px;
}

.list {
    list-style: none;
    display: flex;
    gap: 5rem;
    align-items: center;
    padding: 20px;
}

li {
    text-transform: uppercase;
    font-weight: bolder;
}

li:hover {
    color: var(--h2-color);
    background-color: var(--border-bottom);
    animation: slideIn 0.7s ease-in-out forwards;
    border-bottom: var(--border-bottom);
}

@keyframes slideIn {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-20%);
    }
    20% {
        transform: translateY(-40%);
    }
    50% {
        transform: translateY(-50%);
    }
    90% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(0);
    }
}

header {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

h2 {
    font-family: sans-serif;
    font-size: 25px;
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
}

.galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin-top: 10px;
}

.galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    margin-bottom: 20px;
}

.galeri > div:hover {
    flex: 5;
}

.tema {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffb3b3;
    border-radius: 40px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  input[type="checkbox"]:checked + .slider {
    background-color: #4d1658;
  }
  
  input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 
#contact {
    display: flex;
    gap: 10px;
    margin-top: 25px; 
}  

#contact img {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
 }

#contact img:hover {
    animation: iconTranslate 0.5s ease-in-out forwards;
}

@keyframes iconTranslate {
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(30deg);
    }
    60% {
        transform: rotate(25deg);
    }
    70% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(15eg);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}